[build]
  command = "echo {\"SUPABASE_URL\":\"$SUPABASE_URL\",\"SUPABASE_KEY\":\"$SUPABASE_KEY\"} > env.json && flutter build web"
  publish = "build/web"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
